header {
  background-color: white;
  color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header .container {
  max-width: 1200px; /* Tailwind의 container */
  margin: 0 auto; /* Tailwind의 mx-auto */
  display: flex;
  align-items: center;
  justify-content: space-between; /* Tailwind의 justify-between */
  padding: 1rem 1.5rem;
}

header h1 {
  font-size: 1.25rem;
  font-weight: bold;
}

header nav ul {
  display: flex;
  gap: 1rem;
}

header nav a {
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}
